<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="m-5">
    <h1>Dodawanie nowych produktów</h1>
    <form method="post" th:action = "@{'/'}" th:object="${product}">
        <div class="form-group">
            <label for="productName">Nazwa</label>
            <input type="text" class="form-control" id="productName" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="productPrice">Cena</label>
            <input type="number" step="0.01" class="form-control" id="productPrice" th:field="*{price}">
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>
</body>
</html>